.ticketCard {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticketCard:hover {
    transform: translateY(-4px);
}

.divider {
    border-top: 2px dashed #e2e8f0;
    margin: 0 1.5rem;
}

:global(.dark) .divider {
    border-top: 2px dashed #4b5563;
}